* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.btn_primary {
  color: #fff;
  background: #1797d2;
  border-color: #186385;
  text-decoration: none;
}

.btn_primary:hover {
  background: #0f90cd;
  text-decoration: none;
}

.btn_primary:active {
  background: #076e9f;
  text-decoration: none;
}

header {
  background: #0e0450;
  height: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 32px;
}

h1 {
  font-size: 28px;
  padding: 20px;
}

.items-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  background: #f6f6f6;
  border-radius: 4px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.item:hover {
  background: #f1f1f1;
}

.item__img > *  {
  display: block;
  max-width: 100%;
  margin: auto;
  color: #aaa;
}

.item__meta {
  display: block;
  font-weight: bold;
  margin-top: 8px;
}

.item__meta span {
  font-weight: normal;
}

.cart {
  position: relative;
}

.cart__list {
  position: absolute;
  background: #fff;
  width: 300px;
  right: 0;
  top: 30px;
  border-radius: 4px;
  display: none;
}


.cart__list.shown {
  display: block;
}

.cart__item {
  padding: 20px;
  border-bottom: 1px solid #999;
}
